* `_config.yml`

    ```yaml
    permalink:        pretty
    ```

*   [`index.md`              =>    [`/`](/)

*   `index.cn.md`           =>    [`/cn/`](/cn/)

*   `about.md`              =>    [`/about/`](/about/)

*   `cn.about.md`           =>    [`/cn/about/`](/cn/about/)

*   `2014-02-26-one.md`      =>    [`/2014/02/26/one/`](/2014/02/26/one/)

*   `2014-02-26-one.cn.md`   =>    [`/cn/2014/02/26/one/`](/cn/2014/02/26/one/)

*   `cn.2014-02-26-two.md`   =>    [`/cn/2014/02/26/two/`](/cn/2014/02/26/two/)
